@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300&display=swap");
body,
html {
  size: 100%;
  margin: 0;
  background-color: #faf9f0;
}
p {
  font-family: "Martel", serif;
  font-size: 1rem;
  text-align: justify;
  color: #204e4a;
  padding-left: 10%;
  padding-right: 10%;
}
/*main grid*/
.container {
  display: grid;
  grid-template-columns: 0.4fr 2.2fr 0.4fr;
  grid-template-rows: 80px 1fr 0.2fr;
  grid-auto-flow: row;
  grid-template-areas:
    "nav nav nav"
    ". main ."
    "footer footer footer";
}
/*nav grid*/
.nav {
  display: flex;
  height: 4rem;
  justify-content: space-around;
  align-items: center;
  grid-area: nav;
  background-color: #204e4a;
  width: 100%;
  position: fixed;
  color: #faf9f0;
  box-shadow: 3px 3px 5px #8f8e8e;
  z-index: 10;
}
.nav-links {
  color: #faf9f0;
  text-decoration: none;
}
.nav-links:hover {
  color: #aefaba;
}
#booking {
  background-color: #faf9f0;
  color: #204e4a;
  padding: 10px 15px;
  border-radius: 15px;
  box-shadow: 3px 3px #e2e1d9;
}
#booking:hover {
  background-color: #4c9f70;
  color: #faf9f0;
  box-shadow: none;
}
#back {
  display: flex;
  background-color: #faf9f0;
  color: #204e4a;
  padding: 10px 25px;
  border-radius: 15px;
  box-shadow: 3px 3px #e2e1d9;
  margin-left: 85%;
}
#back:hover {
  background-color: #4c9f70;
  color: #faf9f0;
  box-shadow: none;
}
/*grid that define body of main page*/
.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "home home home"
    "about about about"
    "rooms rooms rooms"
    "gallery gallery gallery"
    "contact contact contact"
    "faq faq faq";
  grid-area: main;
}

.home {
  grid-area: home;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.about {
  grid-area: about;
  padding: 10%;
}
.parallax {
  /* The image used */
  background-image: url("img/Rosapenna_FULL.jpg");

  /* Set a specific height */
  min-height: 500px;
  min-width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

.rooms {
  grid-area: rooms;
}

.services {
  grid-area: services;
}

.gallery {
  grid-area: gallery;
}

.contact {
  grid-area: contact;
}
.faq {
  grid-area: faq;
}

.footer {
  grid-area: footer;
}
/* TRIALS*/
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
